In [2]:
import pandas as panda 
import numpy as np
from datetime import datetime
from matplotlib import pyplot as plt

In [3]:
dataframe = panda.read_csv('Ruter_data.csv',delimiter=';')

In [4]:
dataframe.head()

,TurId,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra,Tidspunkt_Faktisk_Avgang_Holdeplass_Fra,Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra,Tidspunkt_Planlagt_Avgang_Holdeplass_Fra,Kjøretøy_Kapasitet,Passasjerer_Ombord
0,15006-2020-08-10T10:24:00+02:00,10/08/2020,Viken,Vest,Bærum,Nordliveien,Tjernsmyr,Lokal,Viken,150,0,10:53:53,10:53:59,10:53:00,10:53:00,112,5
1,15002-2020-08-15T12:54:00+02:00,15/08/2020,Viken,Vest,Bærum,Nadderud stadion,Bekkestua bussterminal (Plattform C),Lokal,Viken,150,0,13:12:20,13:12:26,13:12:00,13:12:00,112,5
2,15004-2020-08-03T09:54:00+02:00,03/08/2020,Viken,Vest,Bærum,Ringstabekkveien,Skallum,Lokal,Viken,150,0,10:18:56,10:19:21,10:19:00,10:19:00,112,6
3,15003-2020-07-27T13:00:00+02:00,27/07/2020,Viken,Vest,Bærum,Gruvemyra,Gullhaug,Lokal,Viken,150,1,13:52:04,13:52:26,13:51:00,13:51:00,112,10
4,15002-2020-08-27T07:15:00+02:00,27/08/2020,Viken,Vest,Bærum,Lysaker stasjon (Plattform A),Tjernsmyr,Lokal,Viken,150,1,07:34:13,07:34:53,07:33:00,07:33:00,112,10

In [5]:
dataframe.loc[[245]]

,TurId,Dato,Fylke,Område,Kommune,Holdeplass_Fra,Holdeplass_Til,Linjetype,Linjefylke,Linjenavn,Linjeretning,Tidspunkt_Faktisk_Ankomst_Holdeplass_Fra,Tidspunkt_Faktisk_Avgang_Holdeplass_Fra,Tidspunkt_Planlagt_Ankomst_Holdeplass_Fra,Tidspunkt_Planlagt_Avgang_Holdeplass_Fra,Kjøretøy_Kapasitet,Passasjerer_Ombord
245,30009-2020-07-10T10:10:00+02:00,10/07/2020,Oslo,Nordøst,Stovner,Folkvangveien (mot Furuset),Furuset skole (Karihaugveien mot sentrum),Lokal,Viken,110,0,:,01:22:34,10:43:00,10:43:00,106,0

In [6]:
test = panda.DataFrame(dataframe['Passasjerer_Ombord'])

In [7]:
test

      Passasjerer_Ombord
0                      5
1                      5
2                      6
3                     10
4                     10
...                  ...
5995                   2
5996                   2
5997                   3
5998                   5
5999                  -5

[6000 rows x 1 columns]

In [8]:
test.sum()

Passasjerer_Ombord    27077
dtype: int64

In [9]:
dfObj = panda.DataFrame(columns=['User_ID', 'UserName', 'Action'])

In [10]:
dfObj

Empty DataFrame
Columns: [User_ID, UserName, Action]
Index: []